Repository sangmin4208/nextjs-template: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, cspell 'src/**' --gitignore --no-progress --show-suggestions, prettier --write, eslint --fix

.lintstagedrc:

{
  "*/**/*.{js,jsx,ts,tsx}": [
    "vitest related --run",
    "cspell 'src/**' --gitignore --no-progress --show-suggestions",
    "prettier --write",
    "eslint --fix"
  ],
  "*/**/*.{json,css,md}": ["prettier --write"]
}

🎨 storybook addons 추가
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
Due: vitest related --run, cspell 'src/**' --gitignore --no-progress --show-suggestions, prettier --write, eslint --fix

🎨 tailwind config util 추가
  src/shared/utils/tailwind-theme.ts
Due: vitest related --run, cspell 'src/**' --gitignore --no-progress --show-suggestions, prettier --write, eslint --fix

📦 query-string 패키지 추가
  package.json
  pnpm-lock.yaml
Due: none

📦 framer-motion 패키지 추가
  package.json
  pnpm-lock.yaml
Due: none

📦 .nvmrc 추가
  .nvmrc
Due: none

📦 next update
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

📦 ts-reset 패키지
  package.json
  pnpm-lock.yaml
  reset.d.ts
Due: none

⚙️ eslint 추가
  .eslintrc.js
Due: none

🐛 tailwind theme 수정
  cspell.json
  src/shared/utils/tailwind-theme.ts
Due: vitest related --run, cspell 'src/**' --gitignore --no-progress --show-suggestions, prettier --write, eslint --fix

🐛 storybook preview appDirectory 추가
  .storybook/preview.tsx
Due: vitest related --run, cspell 'src/**' --gitignore --no-progress --show-suggestions, prettier --write, eslint --fix

👷 add pr template
  .github/pull_request-template.md
Due: prettier --write

📦 Update shadcn default setting
  src/app/styles/globals.css
  tailwind.config.ts
Due: prettier --write

📦 tanstack query eslint 추가
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: none

:art: query factory 개선
  package.json
  pnpm-lock.yaml
  src/app/query-key-store/index.ts
Due: vitest related --run, cspell 'src/**' --gitignore --no-progress --show-suggestions, prettier --write, eslint --fix

📦 axios client
  package.json
  pnpm-lock.yaml
  src/shared/lib/axios/client.ts
Due: vitest related --run, cspell 'src/**' --gitignore --no-progress --show-suggestions, prettier --write, eslint --fix

📦 action utils
  src/app/actions/utils/api-endpoint.ts
  src/app/actions/utils/index.ts
Due: vitest related --run, cspell 'src/**' --gitignore --no-progress --show-suggestions, prettier --write, eslint --fix
